Gemfile.lock
Gemfile.local
log/
junit/
.vagrant/
.bundle/
coverage/
log/
.DS_Store
tmp/
output/

# Ignore the vendored gems
lib/vendor/hiera-eyaml
lib/vendor/molinillo
lib/vendor/puppet-lint
lib/vendor/puppetfile-resolver
lib/vendor/puppet-strings
lib/vendor/yard

vendor/hiera-eyaml
vendor/molinillo
vendor/puppet-lint
vendor/puppetfile-resolver
vendor/puppet-strings
vendor/yard
